langchain
langchain-community
langchain-experimental
langchain-openai
langgraph
python-dotenv
beautifulsoup4
pandas
openai
openpyxl
scikit-learn
matplotlib
langchain-text-splitters
docx2txt
pypdf
